* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    margin: o;
}

body {
    background-image: url(../img/Breaking-Bad.jpg);
    background-color: #cccccc;
}

img {
    width: 100%;
    max-width: 900px;
    height: auto;
    box-sizing: border-box;
}

nav li {
    display: inline-block;
    width: 50%;
    padding: 10px;
    border: 1px solid gray;
}

.bottone1 {
    border: 1px solid green;
    background-color: firebrick;
    color: white;
    transition: background-color 0.5s;
}

.bottone2 {
    border: 1px solid blue;
    background-color: yellow;
    color: black;
    transition: background-color 0.5s;
}

.bottone1:hover {
    background-color: white;
    color: firebrick;
    cursor: pointer;
}

.bottone2:hover {
    background-color: white;
    color: firebrick;
    cursor: pointer;
}

header {
    margin-bottom: 40px;
}


/*FORM*/

form {
    border: 1px solid green;
    padding: 30px 20px;
    border-radius: 20px;
}

form label {
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 700;
}

.box {
    border: 2px solid red;
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
}

#grid {
    margin-top: 40 px;
}

.formitem {
    margin-bottom: 20px;
}

.formitem input,
.formitem select {
    width: 70%;
    padding: 5px;
}